*{
  font-family: Georgia;
  margin: 0;
  padding: 0;
}

.header{
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 60px;
  background: darkgoldenrod;
  padding: 0px, 20px, 0px, 20px;

}

.logo-container{
  flex: 1;
  padding-left: 5vw;
  object-fit: contain;
}

.logo{
  display: block;
  width: 50%;
  margin: auto;
  src: url(./logo.png);
  object-fit: contain;
  
}

.nav{
  flex: 1;
  display: flex;
  padding-right: 5vw;
  gap: 20px;
  list-style-type: none;
}

.nav-link{
  text-decoration: none;
}

.logo{
  background-image: url(./logo.png);
  height: 20px;
  width: auto;
}

